/*
@import url('https://free.bboxtype.com/embedfonts/?family=FiraSans:300,600');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
*/

@font-face {
    font-family: 'fira_sans_semibold';
    src: url('/fonts/FiraSans-SemiBold.eot');
    src: url('/fonts/FiraSans-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/FiraSans-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sans_medium';
    src: url('/fonts/FiraSans-Medium.eot');
    src: url('/fonts/FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
         url('/fonts/FiraSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'charterbold_italic';
    src: url('/fonts/charter_bold_italic-webfont.eot');
    src: url('/fonts/charter_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/charter_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'charterbold';
    src: url('/fonts/charter_bold-webfont.eot');
    src: url('/fonts/charter_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/charter_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'charteritalic';
    src: url('/fonts/charter_italic-webfont.eot');
    src: url('/fonts/charter_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('c/fonts/harter_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'charterregular';
    src: url('/fonts/charter_regular-webfont.eot');
    src: url('/fonts/charter_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/charter_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
body {
    font-family: Georgia, Serif;
    font-size: 1rem;
}

h1, h2, h3, h4 { color: #001f50; }

h1 { font-size: 1.8rem; }

h2 { font-size: 1.3rem; }

h3 { font-size: 1.1rem; }

h4 { font-size: 0.9rem; }
*/

.gridlayout {
    display: grid;
    grid-template-areas: ". header ."
        ". main ."
        ". footer .";
    grid-template-columns: minmax(0px, 20px) 1fr minmax(0px, 20px);
}

header { grid-area: header; border-bottom: 1px solid #bbb; }
main { grid-area: main; padding-bottom: 1em;}
footer { grid-area: footer; padding-top: 1em; border-top: 1px solid #bbb;}

img.alignright {
    float: right;
    border: 1px solid #000;
    margin-left: 10px;
    margin-bottom: 10px;
}

img.photo {
    border: 1px solid #000;
}


