---
layout: home
---
<html>
  <head>
    <link rel="preload" href="/assets/site.css" as="style"/>
        <link rel="stylesheet" href="/assets/site.css"/>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <title>{{site.title}}</title>
  </head>

  <body>
    <div class="gridlayout">

      <header>
	  <h1>{{site.title}}</h1>
      </header>
      <main>
	
	{{ content }}
	
      </main>

      <footer>
	Copyright &copy; 1998-{{ 'now' | date: "%Y" }} Trevis J. Rothwell
      </footer>
      
    </div>

  </body>
</html>
