---
layout: page
---
<html>
  <head>
    <link rel="stylesheet" href="/assets/site.css" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <title>{{page.title}} - {{site.title}}</title>
  </head>

  <body>
    <div class="container">

      <headerpadleft></headerpadleft>
      <header>
	<div class="header-title">
	  <h2>{{site.title}}</h2>
	  <div class="tagline">{{site.tagline}}</div>
	</div>
      </header>
      <headerpadright></headerpadright>

      <main>
	<div class="breadcrumbs">
	  <a href="/">Home</a> : {{page.slug-title}}
	</div>
	
	<h1>{{ page.title }}</h1>

	{{ content }}
	
      </main>

      <footerpadleft></footerpadleft>
      <footer>
	Copyright &copy; 1998-{{ 'now' | date: "%Y" }} Trevis J. Rothwell
      </footer>
      <footerpadright></footerpadright>
      
    </div>

  </body>
</html>
