---
layout: default
---
<html>
  <head>
    <link rel="stylesheet" href="/assets/site.css" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <title>{{page.title}} - {{site.title}}</title>
  </head>

  <body>
    <div class="container">

      <headerpadleft></headerpadleft>
      <header>
	<h2>{{site.title}}</h2>
	<div class="tagline">{{site.tagline}}</div>
      </header>
      <headerpadright></headerpadright>

      <main>
	<div class="breadcrumbs">
	  <a href="/">Home</a> : <a href="/blog/">Blog</a> : {{ page.date | date_to_string }}
	</div>
	
	<h1>{{ page.title }}</h1>

	{{ content }}

	<div class="category">
	  Filed under: 
	    {% for category in page.categories %}
	      <a href="{{ site.url }}{{ site.baseurl }}/categories#{{ category }}">{{category}}</a>
	    {% unless forloop.last %}, {% endunless %}
	    {% endfor %}
	  </div>
	
      </main>

      <footerpadleft></footerpadleft>
      <footer>
	Copyright &copy; 1998-{{ 'now' | date: "%Y" }} Trevis J. Rothwell
      </footer>
      <footerpadright></footerpadright>
      
    </div>

  </body>
</html>
