---
layout: section
---
<html>
  <head>
    <link rel="preload" href="/assets/site.css" as="style"/>
        <link rel="stylesheet" href="/assets/site.css"/>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <title>{{page.title}} - {{site.title}}</title>
  </head>

  <body>
    <div class="gridlayout">

      <header>
	<h1>{{page.title}}</h1>
	<p>
	  <a href="/">Home</a> : one section
	</p>
	
      </header>
      <main>
	
	{{ content }}
	
      </main>

      <footer>
	Copyright &copy; 1998-{{ 'now' | date: "%Y" }} Trevis J. Rothwell
      </footer>
      
    </div>

  </body>
</html>
